<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Link to the external CSS file -->
</head>
<body>
    <div class="content">
        <h1>About Us</h1>
        <p>We are a thriving community dedicated to facilitating meaningful workplace conversations, guided by a simple yet powerful mission: We  focus on creating a positive work environment, promoting transparency, and helping individuals find fulfilling jobs and companies aligned with their values.</p>
        <p>We are fueled by an inspiring vision that aims to drive positive change in workplaces through radical transparency. Through our innovative products and inclusive communities, we strive to break down barriers that perpetuate discrimination, wage gaps, and toxic work environments. Together, we envision a world where individuals have the unwavering support and abundant resources needed to find a job that truly appreciates and embraces their talents and contributions.</p>
    </div>
</body>
</html>
